.outermost-container {
  background-color: #FAF0DC;
  height: 100vh;
  width: 100%;
  font-family: 'Kalam', cursive;
  .home-text {
    .welcome-text {
      font-size: 25px;
    }
    .header-menu {
      position: relative;
      position: -webkit-sticky;
      position: sticky;
      .home-button {
        position: absolute;
        top: 36%;
        left: 7%;
        font-size: 25px;
        color: grey;
      }
      .sign-out-button {
        position: absolute;
        top: 36%;
        right: 7%;
        font-size: 25px;
        color: grey;
      }
    }
    text-align: center;
    .room-form-container {
      display: flex;
      flex-wrap: wrap-reverse;
      flex-direction: row-reverse;
      justify-content: space-evenly;
      form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        #room-name-input {
          margin-top: 20px;
        }
        .image-upload-label {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-evenly;
          border: 1px dotted white;
          border-radius: 50px;
          background: #f1e3cd;
          margin: 40px;

          .open-camera {
            padding: 15px;
            border: 1px dotted white;
            border-radius: 50px;
            font-size: 30px;
            background: #cfb997;
            color: white;
          }

          span {
            margin: 20px 5px;
            font-size: 17px;
          }
        }
      }

      #image-upload {
        display: none;
      }
    }
  }
  .signin-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .signin-row {
      text-align: center;
    }
  }
}

h1 {
  font-size: 50px;
  font-family: 'Caveat';
}
